<footer class="bd-footer py-5 mt-5" style="background-color: #212529;">
    <div class="container">
        <div class="bg-dark text-secondary px-4 py-5 text-center">
            <div class="py-5">
                <h1 class="display-5 fw-bold text-white">Welcome</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="fs-5 mb-4">Embrace the power of coding and embark on a never-ending quest for knowledge!
                        Together,
                        let's ignite our passion for learning, push our boundaries, and unlock the extraordinary
                        potential that
                        lies within the realm of code. Join our community of avid learners and let's thrive in the
                        ever-evolving world of programming!
                    </p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Đăng
                            nhập</button>
                        <button type="button" class="btn btn-outline-light btn-lg px-4">Đăng ký</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>